@font-face {
    font-family: "IRANSansXFaNum";
    src: url("IRANSans/woff/IRANSansXFaNum-Bold.woff") format("woff"),
        url("IRANSans/ttf/IRANSansXFaNum-Bold.ttf") format("ttf"),
        url("IRANSans/woff2/IRANSansXFaNum-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "IRANSansXFaNum";
    src: url("IRANSans/woff/IRANSansXFaNum-Medium.woff") format("woff"),
        url("IRANSans/ttf/IRANSansXFaNum-Medium.ttf") format("ttf"),
        url("IRANSans/woff2/IRANSansXFaNum-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "IRANSansXFaNum";
    src: url("IRANSans/woff/IRANSansXFaNum-Regular.woff") format("woff"),
        url("IRANSans/ttf/IRANSansXFaNum-Regular.ttf") format("ttf"),
        url("IRANSans/woff2/IRANSansXFaNum-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "IRANSansXFaNum";
    src: url("IRANSans/woff/IRANSansXFaNum-Light.woff") format("woff"),
        url("IRANSans/ttf/IRANSansXFaNum-Light.ttf") format("ttf"),
        url("IRANSans/woff2/IRANSansXFaNum-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}
